/*
 These files are made available to you on an as-is and restricted basis, and may only be redistributed or sold to any third party as expressly indicated in the Terms of Use for Seed Vault.
 Seed Vault Code (c) Botanic Technologies, Inc. Used under license.
*/

/* Hadron Sprites */

.bg-mic_disabled_50 {
    width: 50px; height: 50px;
    background: url('/assets/images/css_sprites.png') -10px -10px;
}

.bg-mic_off_50 {
    width: 50px; height: 50px;
    background: url('/assets/images/css_sprites.png') -80px -10px;
}

.bg-mic_on_50 {
    width: 50px; height: 50px;
    background: url('/assets/images/css_sprites.png') -218px -10px;
}

.bg-speaker_disabled_50 {
    width: 50px; height: 50px;
    background: url('/assets/images/css_sprites.png') -288px -10px;
}

.bg-speaker_off_50 {
    width: 50px; height: 50px;
    background: url('/assets/images/css_sprites.png') -358px -10px;
}

.bg-speaker_on_50 {
    width: 50px; height: 50px;
    background: url('/assets/images/css_sprites.png') -428px -10px;
}

.bg-hadron_48 {
    width: 48px; height: 48px;
    background: url('/assets/images/css_sprites.png') -10px -10px;
}
