/*
 These files are made available to you on an as-is and restricted basis, and may only be redistributed or sold to any third party as expressly indicated in the Terms of Use for Seed Vault.
 Seed Vault Code (c) Botanic Technologies, Inc. Used under license.
*/

/* setup container styles */

html {
  font-family: 'Lato', sans-serif;
}

body {
  font-family: 'Lato', sans-serif;
}

.botanic-green {
  background-color: #45C282;
}

.botanic-silver {
  background-color: #f7f5f5;
}

a.botanic-button:first-child {
  border-radius: 0px 12px 0px 0px;
}

a.botanic-button:last-child {
  border-radius: 0px 0px 12px 12px;
}

a.botanic-button {
  background-color: #f7f5f5;
  border-radius: 0px 0px 0px 0px;
  color: #5c5c5c;
  outline: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  text-transform: capitalize !important;
  font-weight: 600;
}

.botanic-button:hover {
  background-color: #45C282 !important;
  color: #fff !important;
}


.quark-container {
	height: 100vh;
}

.quark-full-screen {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 0;
}

.quark-full-screen .quark-content-overlay-container .quark-container #quark-conversation-area {
  height: calc(100% - 63px - 66px);
}

.quark-full-screen #quark-conversation-area {
  max-height: 100%;
  height: calc(100% - 63px - 66px)
}

.quark-content-overlay-container .input-wrap textarea {
	margin: 0 0 0 0;
  padding: 15px 0 0 10px;
	width: calc(100% - 80px);
	resize: none;
  border-width: 0 0 0 0;
  border-style: solid none none none;
  border-color: #e7e2e2 !important;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 50px !important;
  font-size: 14px !important;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}

.quark-content-overlay-container .input-wrap {
  clear: both;
  display: block;
  margin: 0px;
  background-color: #fff;
  font-size: 16px !important;
  margin: 5px 5px 5px 5px;
}

.quark_chat_fullscreen .quark-content-overlay-container .input-wrap {
  margin: 2px 5px 5px 5px !important;
}

.quark_chat_tall .quark-content-overlay-container .input-wrap {
  margin: 5px 5px 5px 5px !important;
}

.quark_chat_standard .quark-content-overlay-container .input-wrap {
  margin: 5px 5px 5px 5px !important;
}

/* Another size */

.quark-container {
	background: #fff;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.quark-wrap {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: -10px;
	padding: 10px calc(17px + 0px) 10px 10px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-transform: translate3d(0, 0, 0);
}

.hadron-toggle-2 {
  z-index: 10000;
  /* position: fixed !important; */
  top: 15px;
  right: 0px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.hadron-refresh {
  width: 24px !important;
}

.hadron-toggle-2 > i {
  color: #4A4A4A !important;
}

.hadron-toggle-2 > i:hover {
  color: #45C282 !important;
}

.quark-content-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    display: block;
    box-shadow: 0 0 10px rgba(0,0,0,.15);
    z-index: 10;
    background-color: #E4E4E4;
    text-align: left;
    border: none;
    font-family: 'Lato', sans-serif;
}


.quark-content-overlay-container .quark-container {
   width: 100% !important;
   min-width: auto !important;
   display: block;
}

.quark-content-overlay-header {
    background-color: #fff;
    height: 64px;
    color: #4a4a4a !important;
    font-size: 17px !important;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid #e7e2e2;
    line-height: 64px;
    margin: 5px 5px 0px 5px;
    padding-left: 14px;
    padding-right: 14px;
    display: block;
}

.quark-content-overlay-header-wrapper {
  height: 64px;
  color: #4a4a4a !important;
  font-family: 'Lato', sans-serif;
}

.quark-content-overlay-header-text-1 {
  color: #4a4a4a !important;
  font-size: 14px !important;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  line-height: 64px;
}

.quark-content-overlay-header-text-2 {
  height: 22px;
  color: #4a4a4a !important;
  font-size: 18px !important;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  line-height: 48px;
}

.quark-content-overlay-header-subtext {
  height: 20px;
  color: #4a4a4a !important;
  font-size: 14px !important;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  line-height: 46px;
}

.quark-content-overlay-header .quark-dashicons-no-alt {
   cursor: pointer;
   line-height: 60px;
   float: right;
   font-size: 11px;
}

.quark-dashicons-no-alt:before {
    /* content: url(../images/arrowdown.svg) !important; */
}


.home .myc-toggle-open .myc-content-toggle {
   box-shadow: none;
    display: none;
}

.quark-content-toggle {
   position: fixed;
   bottom: 30px;
   right: 30px;
   height: 50px;
   width: 50px;
   border-radius: 30px;
   background-color: #3EC380;
   z-index: 10;
}

.quark-content-toggle:hover {
    background-color: #287B51;
}

.quark-toggle-open .quark-content-toggle {
   background-color: white;
   border: 2px solid #D1D1D1;
   height: 46px;
   width: 46px;
}

.quark-toggle-open .quark-content-toggle:hover .quark-dashicons-format-chat {
    color: #287B51;
}

.quark-content-toggle .quark-dashicons-format-chat {
   cursor: pointer;
   margin-top: 12px;
   margin-left: 10px;
   font-size: 30px;
   color: white;
}

.quark-toggle-open .quark-content-toggle .quark-dashicons-format-chat {
   color: #3EC380;
   margin-top: 10px;
   margin-left: 8px;
}


.quark-content-overlay-container .quark-container {
   width: 100% !important;
   min-width: auto !important;
   display: block;
   /* height: 380px; */
}

.quark-container-chromeless > .quark-wrap {
  margin: 0 auto;
  padding: 15px 30px 15px 15px;
}

.quark-content-overlay-container .quark-container #quark-conversation-area {
  max-height: inherit;
  display: block;
}


#quark-conversation-area {
    width: auto;
    max-width: 100%;
    max-height: calc(100vh - 127px);
    height: calc(100vh - 127px);
    overflow: auto;
    padding: 5px 5px 5px 5px;
    margin: 0px;
    border: none;
    background-color: #E4E4E4;
    font-size: 16px !important;
}

.quark-bot-icon {
  height:32px;
  width: 32px;

  padding: 4px;

  margin-top: 1em;
  margin-right: 1em;
  position: relative;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}

.quark-reco-container {
  height:32px;
  width: 32px;
  float: right;
  padding-top: 14px;
}

.quark-tts-container {
  height:32px;
  width: 32px;
  float: right;
  padding-top: 14px;
}

.quark-reco-container img {
  width: 25px;
  height: 25px;
}

.quark-reco-container img:hover {
}

.quark-tts-container img {
  width: 25px;
  height: 25px;
}

.quark-tts-container img:hover {
}

.quark-tts-button-on {
  background-image: url(./images/speaker-on-50.png);
  background-size: cover;
  border-width: 0px;
}

.quark-tts-button-on:hover {
  background-image: url(./images/speaker-off-50.png);
}

.quark-tts-button-off {
  background-image: url(./images/speaker-off-50.png);
  background-size: cover;
  border: 0;
  outline: none;
}

.quark-tts-button-off:hover {
  background-image: url(./images/speaker-on-50.png);
}


.quark-tts-button-disabled {
  background-image: url(./images/speaker-disabled-50.png);
  background-size: cover;
  border: 0;
  outline: none;
}

.quark-reco-button-on {
  background-image: url(./images/mic-on-50.png);
  background-size: cover;
  border: 0;
  outline: none;
}

.quark-reco-button-on:hover {
  background-image: url(./images/mic-off-50.png);
}

.quark-reco-button-off {
  background-image: url(./images/mic-off-50.png);
  background-size: cover;
  border: 0;
  outline: none;
}

.quark-reco-button-off:hover {
  background-image: url(./images/mic-on-50.png);
}

.quark-reco-button-disabled {
  background-image: url(./images/mic-disabled-50.png);
  background-size: cover;
  border: 0;
  outline: none;
}


.quark-media-overlay {
    width: calc(100vw);
    height: calc(100vh - 134px);
    background-color: #808080;
    position: relative;
    z-index: 100;
}

.quark-media-content {
  width: calc(100vw);
  height: calc(100% - 35px);
  background-color: transparent;
  position: relative;
}

.quark-media-response {
  width: calc(100vw - 11px);
  height: calc(48px);
  background-color: #000;
  position: relative;
  font-size: 14px !important;
  font-family: 'Lato', sans-serif;
  color: #fff;
  padding: 8px 4px 0 4px;
  text-align: justify;
  text-justify: inter-word;
  line-height: 18px;
}

.quark-media-overlay video {
  max-width: calc(100vw - 10px) !important;
  width: calc(100vw - 10px) !important;
  height: calc(100vh - 137px) !important;
  margin: 0 auto;
}

video, iframe.responsive-video {
    max-width: calc(100vw - 10px) !important;
    height: auto;
}

/* Pedro added */
@media only screen and (min-width : 320px) and (max-width : 480px), screen and (min-width : 320px) and (max-width : 736px) and  (orientation: landscape)   {
    .quark-content-overlay  {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .quark-content-overlay-header {
        flex: none;
    }

    .quark-content-overlay-container {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    #quark-conversation-area {
        height: initial;
        max-height: none;
        flex: 1;
        display: flex;
        padding-bottom: 0;
    }

    .quark-content-overlay-container .input-wrap {
        flex: none;
    }

    #hadron-chat.quark-container {
        height: auto;
        flex: 1;
    }
}
